<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        <div class="album py-5">
            <div class="container">
                <div class="row">
                    <% if (imgs.length > 0) { %>
                        <% for (let image of imgs) { %>
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top rounded" src="/<%= image.imageUrl %>" alt="<%= image.imageName %>">
                                </div>
                            </div>
                        <% } %>
                    <% } else { %>
                        <h1 >No Images found!</h1>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include('../includes/footer.ejs') %>